// ---------- BRAND COLOR LIST ----------
$brand-gold: #C8A35F;
$brand-dark: #2F343A;
$brand-grey: #393F47;


// ---------- COLOR-THEMES
.bg-golden {
  background-color: $brand-gold;
}

.bg-dark {
  background-color: $brand-dark;
}

.bg-grey {
  background-color: $brand-grey;
}

