// ---------- BRAND COLOR LIST ----------
$brand-gold: #c8a35f;
$brand-dark: #2f343a;
$brand-grey: #393f47;

// ---------- COLOR-THEMES
.bg-golden {
  background-color: $brand-gold;
}

.bg-dark {
  background-color: $brand-dark;
}

.bg-grey {
  background-color: $brand-grey;
}
