// ---------- BRAND COLOR LIST ----------
$brand-gold: #C8A35F;
$brand-dark: #2F343A;
$brand-grey: #393F47;

.bg-golden {
  background-color: $brand-gold;
}

.bg-brand-dark {
  background-color: $brand-dark;
}

