// ---------- COMPANY-BLOCK ----------
.company-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  align-items: center;

  // ---------- CONTRAST-BLOCK
  .contrast-block {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: auto;
    right: auto;
    width: 410px;
  }

  // ---------- COMPANY-CONTENT-BLOCK
  .content-block {
    z-index: 100;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    .common-text-m {
      max-width: 444px;
      height: 179px;
    }

    // ---------- BENEFITS-BLOCK
    .company-block__benefits {
      display: flex;
      flex-flow: row wrap;
      max-width: 600px;

      .col-4 {
        width: 200px;
        height: 160px;

        .company-block__benefits-button {
          height: 100%;
          width: 100%;
          background-color: #FFFFFF;
          color: $brand-dark;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          p:nth-child(1) {
            font-weight: 700;
            font-size: 64px;
            line-height: 75px;
            text-align: center;
            letter-spacing: 0.05em;
          }

          p:nth-child(2) {
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            letter-spacing: 0.05em;
            margin-bottom: 9px;
          }

          p:nth-child(3) {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
          }
        }

        img {
          height: 100%;
          width: 100%;
        }
      }

    }
  }
}


// ---------- COMPANY MEDIA ----------
@media (max-width: 1100px) {
  .company-block {
    display: flex;
    flex-direction: column;

    .content-block {

      .title-block {
        display: flex;
        order: 1;
        width: 100%;
      }

      .common-text-m {
        display: flex;
        order: 2;
        width: 100%;
      }

      &__benefits {
        order: 3;
      }
    }
  }
}