.company-block {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;

  .contrast-block {
    position: absolute;
    z-index: 0;
    left: auto;
    right: auto;
    width: 410px;
    height: 480px;
  }

  .content-block {
    .title-block {
      width: 400px;
    }
  }
}
