// ---------- FOOTER ----------
.footer {

  .text-dark {
    color: $brand-dark;
    padding-top: 10px;
  }

  .container-fluid {
    height: 161px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__section {
    display: flex;
    justify-content: center;
    height: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.8;
    flex-flow: row wrap;
  }

  &__logo {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__location,
  &__telephone {
    flex-direction: column;
  }

  &__telephone {
    align-items: center;
  }
}


// ---------- FOOTER MEDIA ----------
@media (max-width: 980px) {
  .footer {
    &__section {
      height: 100%;
    }
  }
}