.image-section {
  height: 620px;
  background-image: url('../img/intro.jpg');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $brand-gold;
    height: 245px;
    padding-bottom: 10px;

    p {
      color: #ffffff;
      text-align: center;
    }
  }
}

@media (max-width: 1500px) {
  .image-section {
    div {
      border: none;
    }
  }
}