.image-section {
  height: 620px;
  background-image: url('../img/intro.jpg');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}