.navbar {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  padding: 0;

  .navbar__top-block {
    height: 45px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    div {
      display: flex;
      align-items: center;
      justify-content: center;

      a,
      a:active {
        color: #FFFFFF;
        text-decoration: none;
      }

      .lang {
        font-size: 13px;
      }
    }


  }
  .navbar__bot-block {
    height: 100px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;

    .col-8 {
      display: flex;
      justify-content: center;
      align-items: center;


      .navbar__left-side {
        color: #FFFFFF;
      }


    }
  }
}