.trucking-block {
  display: flex;
  justify-content: center;
  position: relative;

  .grey-block {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: auto;
    right: auto;
    width: 410px;
  }

  .content-block {
    z-index: 100;

  }

}