// ---------- IMPORT LIST ----------
@import 'reset';
@import 'color';
@import 'header';
@import 'image-section';
@import 'trucking';
@import 'service';
@import 'company';

// ---------- COMMON-SETTINGS
* {
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 1108px;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.common-title-l {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.common-title-m {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.common-text-m {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.brand-hr {
  color: $brand-gold;
  width: 90px;
  height: 6px;
  border-width: 6px;
  opacity: 1;
}

