// ---------- IMPORT LIST ----------
@import 'reset';
@import 'color';
@import 'header';
@import 'image-section';
@import 'trucking';
@import 'service';
@import 'company';
@import 'map';

// ---------- COMMON-BLOCK-SETTINGS
* {
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 1108px;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.content-block {
  margin: 30px auto;
  max-width: 1108px;
  height: 504px;
}


// ---------- TEXT-TITLES-SETTINGS
.common-title-l {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.common-title-m {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 100;
}

.common-text-m {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.title-block {
    max-width: 388px;
  height: 132px;

  .brand-hr {
    color: $brand-gold;
    width: 90px;
    height: 6px;
    border-width: 6px;
    opacity: 1;
  }
}


// ---------- COMMON-BUTTONS-SETTINGS
button {
  transition: 0.3s all;
}
button:hover,
button:active {
  transform: scale(0.98);
  opacity: 0.9;
}


// ---------- MEDIA ----------
@media (max-width: 1000px) {
  .title-block {

    .brand-hr {
      margin: 20px auto;
    }
    .common-title-m {
      padding-bottom: 10px;
      text-align: center;
    }
    .common-text-m {
      margin-top: 10px;
      text-align: center;
    }
  }
}